/* authentification login & register */

.tt-auth {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex: 1 1 auto;
    min-height: calc(100vh - 140px); 
}

/* formulaire */
.tt-auth-left {
    flex: 1 1 50%;
    padding: 80px 100px;
    background:#FAF9F7;
}

.tt-auth-left h1 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 40px;
    color: #000;
}

/* Formulaire */
.tt-auth-left form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tt-auth-left label {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: -18px;
    color: #292929;
}

.tt-auth-left input {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    border: 1px solid #E5E5E5;
    padding: 0 14px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    background: #FFFFFF;
}

.tt-auth-left .btn-primary {
    width: 180px;
    padding: 14px 0;
    background: #00AC66;
    text-align: center;
    color: white;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
/* Texte sous le bouton */
.tt-auth-switch {
    font-size: 14px;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
}

.tt-auth-switch a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.tt-auth-switch a:hover {
    text-decoration: underline;
}

.tt-auth-right {
    flex: 1 1 50%;
    height: 100%;
    display: flex;
}

.tt-auth-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}