*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5F3EF;
    font-family: Arial, sans-serif;
    color: #333;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    color: #000;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.3;
    color: #000;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #000;
}